// color

// foundation
// $body-font-family: $light;
// $body-font-color: $black80;

$paragraph-margin-bottom: 0;
$header-margin-bottom: 0;

$grid-column-gutter: (
  small: 30px,
  medium: 30px,
);

$black:#272521;
$wt:#ffffff;
$bord:#BD9F61;
$bg:#5E4B24;
$main:#6B5F44;
$bord-img:#523315;
$title:#523315;