.room-price-wrap{
	position: relative;
	margin-top: 50px;
	margin-bottom: 100px;
	&:after{
	    content: "";
	    width: 98%;
	    /* height: 400px; */
	    background: #FAF7F2;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    bottom: 0;
	}
	table{
		border: none;
		max-width: 240px;
		thead{
			background: none !important;
			border: none;
			th{
				font-family: Montserrat;
				font-style: normal;
				font-weight: 500;
				line-height: 20px;
				font-size: 16px;
				letter-spacing: 0.03em;
				padding-left: 5px !important;
				color: #5E4B24;
				padding-bottom: 14px;
				&:nth-child(2n){
					text-align: right;
					padding-right: 5px !important;
				}
			}
		}
		tbody{
			border: none;
			background: none !important;
			tr{
				 background: none !important;
				&:nth-child(2n){
					 background: none !important;
				}
				td{
					padding: 7px 5px;
					font-family: Montserrat;
					font-style: normal;
					font-weight: normal;
					line-height: 20px;
					font-size: 16px;
					// text-align: center;
					letter-spacing: 0.03em;
					text-transform: uppercase;
					
					color: #272521;
					&:nth-child(2n){
						text-align: right;
					}
				}
			}
		}
		
	}
}
.room-price{
	padding-top: 70px;
	padding-bottom: 70px;
	.price-text{
		// padding: 0 30px;
		margin-bottom: 40px;
		max-width: 430px;
		p{
			
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			font-size: 14px;
			letter-spacing: -0.03em;

			color: #BD9F61;
		}
	}
	&__price{
		padding-left: 85px;
	}
	&__title{
		margin-bottom: 40px;
		padding-left: 15px;
		padding-right: 2%;
	}
	&__text{
		p{
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			line-height: 28px;
			font-size: 14px;
			letter-spacing: -0.03em;
			max-width: 515px;
			color: #272521;
		}
	}
	&__btn{
		// padding-left: 30px;
	}
}






@media screen and (max-width: 39.9375em){
	.room-price__price{
		padding: 0 15px;
		margin-bottom: 20px;
		.minimalistBlack{
			margin: 0 auto;
		}
	}
	.room-price-wrap{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.price-text{
		margin-top: 20px;
	}
	.room-price{
		padding-top: 20px;
		padding-bottom: 20px;
		&__title{
			margin-bottom: 10px;
		}
		&__btn{
			text-align: center;
		}
	}
	table{
		thead{
			th{
				font-size: 16px;
			}
		}
		tbody{
			border: none;
			tr{
				 /* background: none !important; */
				&:nth-child(2n){
					background: #faf7f2!important;
				}
				td{
					
					font-size: 15px;
					
				}
			}
		}
		
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em){
	.room-price__price{
		
		margin-bottom: 20px;
	}

	.room-price__text{
		p{
			max-width: 600px;
		}
	}
}


















