.roomSlider-item{

	position: relative;
	&__img{
		/* position: relative; */
		img{
			width: 100%;
			object-fit: cover;
			height: 740px;
		}
	}
	.slide-bg{
		// background: linear-gradient(180deg, rgba(120, 109, 87, 0.3) 0%, rgba(1, 0, 0, 0.3) 100%);
		// position: absolute;
		// top: 0;
		// bottom: 0;
		// right: 0;
		// left: 0;
		/* z-index: 1; */
	}
	/* &__btn{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100px;
		text-align: center;
		.btn{
			background: rgba(250, 247, 242, 0.9);
			border: 2px solid $bord;
			font-family: Lora;
			font-style: normal;
			// font-weight: bold;
			line-height: 35px;
			font-size: 25px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $bg;
			padding: 20px 40px;
			&:before,&:after{
				display: none;
			}
		}
	}
	 */
	
}
.roomSlider__title{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100px;
	text-align: center;
	.btn{
		background: rgba(250, 247, 242, 0.9);
		border: 3px solid $bord;
		font-family: Lora;
		font-style: normal;
		// font-weight: bold;
		line-height: 35px;
		font-size: 25px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $bg;
		padding: 20px 80px;
		&:before,&:after{
			display: none;
		}
	}
}
.roomSlider-wrap{
	position: relative;
}
.roomSlider{
	
	.room-arrow{
		position: absolute;
		top: 50%;
		margin-top: -30px;
		padding: 15px;
		cursor: pointer;
		z-index: 1;
		transition: .2s;
		&:hover{
			transform: scale(1.4);
		}
	}
	.slide-prev{
		left: 30px;
	}
	.slide-next{
		right: 30px;
	}
}
@media screen and (max-width: 39.9375em){
	.roomSlider-item{
		&__img{
			img{
				height: 500px;
			}
		}
	}
	.roomSlider__title{
		.btn{
			font-size: 19px;
			line-height: 23px;
			padding: 10px;
		}
	}
}





























